<% content_for :title do %>Rokuro<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock" data-text="My first clock" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="diskusage" data-view="Meter" data-title="Disk" data-min="0" data-max="100" data-moreinfo="Jinn"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
	<div data-id="memuse" data-view="Number" data-title="Memory Used" data-moreinfo"in Percent"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="cpu" data-view="Meter" data-title="CPU" data-min="0" data-max="100"></div>
     </li>
     <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="cputemp" data-view="Graph" data-title="CPU temp"></div>
     </li>
  </ul>
</div>
